<div class="row">
  <div class="col-12">
    <h3>
      Courses list
    </h3>
    <hr>
  </div>

  <div class="col-12">
    <p *ngIf="clickedCourseTitle">
      Course {{clickedCourseTitle}} is clicked
    </p>
    <ul class="list-group">
      <app-course-item *ngFor="let course of courses" [courseData]="course" (courseClick)="onCourseClick($event)"
        (click)="onCourseItemClick(course)">
      </app-course-item>
    </ul>
  </div>

</div>
<div class="row">

  <div class="col-12 mb-2">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li *ngFor="let page of pages; index as i" class="page-item"
        [ngClass]="{active: currentPage == i + 1 }"
          [routerLink]="['/courses']" [queryParams]="{page: i+1}" queryParamsHandling='merge'>
          <a class="page-link">
            {{i + 1}}
          </a></li>
      </ul>
    </nav>
  </div>
</div>